{{ define "Head" }}
<script type="text/javascript" src="https://platform-api.sharethis.com/js/sharethis.js#property=65b879c83625b4001a8bcd96&product=inline-share-buttons&source=platform" async="async"></script>
<meta http-equiv="x-ua-compatible" content="ie=edge" />
<link rel="stylesheet" href="/assets/css/styles.css" />
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossOrigin="true" />
<link href="https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;700&display=swap" rel="stylesheet" />
{{ end }}