{{ define "head" }}
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-TZHVSTD');</script>
  <!-- End Google Tag Manager -->
<script type="text/javascript" src="https://platform-api.sharethis.com/js/sharethis.js#property=65b879c83625b4001a8bcd96&product=inline-share-buttons&source=platform" async="async"></script>
<meta http-equiv="x-ua-compatible" content="ie=edge" />
<link rel="stylesheet" href="/assets/css/styles.css" />
<link rel="icon" href="/icon.png" type="image/png">
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossOrigin="true" />
<link href="https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap" rel="stylesheet" />
{{ end }}