{{ define "PostItem" }}
<section class="post-item-wrapper">
  <div class="post-item-info">
    <time class="post-item-date">{{ .Date }}</time>
    {{ template "CategoryPill" .Frontmatter }}
  </div>
  
  <a class="post-item-link" href="/{{ .Slug }}.html">
    <div class="post-item-title">{{ .Frontmatter.Title }}</div>
  </a>
  <p class="post-item-description">{{ .Frontmatter.Description }}</p>

  <a class="post-item-link" href="/{{ .Slug }}.html">
    <div class="post-item-thumbnail" style="position: relative; overflow: hidden;">
      <img aria-hidden="true" src="{{ .Frontmatter.Thumbnail }}" alt="" />
    </div>
  </a>
</section>
{{ end }}