.post-item- {
  &wrapper {
    padding: 15px;
  }
  &title {
    color: var(--primary-text-color);
    transition: color var(--transition-time);
    font-weight: bold;
    font-size: 1.375rem;
    @media screen and (min-width: 800px) {
      font-size: 1.375rem;
    }
    line-height: 1.875rem;
    margin: 10px 0;
    &:hover {
      color: var(--primary-link-color);
    }
  }
  &date {
    color: var(--primary-text-color);
    font-size: 0.875rem;
    font-weight: 100;
    text-transform: lowercase;
  }
  &info {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }
  &link {
    border-bottom: none;
    text-decoration: none;
  }
  &thumbnail {
    margin-top: 10px;
    width: 100%;
    img {
      max-width: 100%;
    }
  }
  &description {
    color: var(--primary-text-color);
    font-style: italic !important;
    line-height: 1.625rem;
  }
}