.header-wrapper {
  align-items: center;
  background-color: var(--primary-background-color);
  border-bottom: 1px solid var(--primary-border-color);
  display: flex;
  padding: 10px;
  width: 100%;
  min-height: 60px;
  z-index: 2;
  .header-container {
    align-items: center;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .profile-wrapper {
      margin: 0 5px;
      flex-grow: 1;
      order: 0;
      a {
        align-items: center;
        border-bottom: none;
        display: flex;
        text-decoration: none;
        h1 {
          color: var(--primary-text-color);
          font-size: 1.25rem;
          font-weight: 100 !important;
          text-decoration: none;
        }
      }
    }
  }
}

