{{ define "home" }}
<!DOCTYPE html>
<html lang="en">
  <head>
    {{ template "head" .Config }}
    <title>{{ .Config.Title }}</title>
    <meta name="description" content="" />
    <meta property="og:title" content="{{ .Config.Title }}" />
    <meta property="og:description" content="{{ .Config.Description }}" />
    <meta property="og:image" content="/assets/uploads/default.png" />
    <meta property="og:type" content="website" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:image:src" content="/assets/uploads/default.png" />
    <meta name="twitter:creator" content="{{ .Config.TwitterUsername }}" />
    <meta name="twitter:title" content="{{ .Config.Title }}" />
    <meta name="twitter:description" content="{{ .Config.Description }}" />
  </head>
  <body class="dark">
    {{ template "body_start" .Config }}
    {{ template "header" }}
    <main class="content">
      <div class="container">
        {{ range .Posts }}
          {{ template "post_item" . }}
        {{ end }}
        {{ template "pagination" . }}
      </div>
    </main>
    {{ template "body_end" .Config }}
  </body>
</html>
{{ end }}