{{ define "Post" }}
<!DOCTYPE html>
<html lang="en">
  <head>
    {{ template "Head" .Config }}
    <title>{{ .Post.Frontmatter.Title }} | {{ .Config.Title }}</title>
  </head>
  <body class="dark">
    {{ template "Header" }}
    <main class="content">
    <section class="post-item-wrapper">
      <div class="post-item-info">
        <time class="post-item-date">{{ .Post.Date }}</time>
      </div>
      
      <div class="post-item-title">{{ .Post.Frontmatter.Title }}</div>
    </section>
  </main>
  {{ template "Body" .Config }}
  </body>
</html>
{{ end }}