{{ define "page" }}
<!DOCTYPE html>
<html lang="en">
  <head>
    {{ template "head" .Config }}
    <title>{{ .Post.Frontmatter.Title }} | {{ .Config.Title }}</title>
    <meta name="description" content="{{ .Post.Frontmatter.Description }}" />
    <meta property="og:title" content="{{ .Post.Frontmatter.Title }}" />
    <meta
      property="og:description"
      content="{{ .Post.Frontmatter.Description }}"
    />
    <meta property="og:image" content="{{ .Post.Frontmatter.Thumbnail }}" />
    <meta property="og:type" content="website" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta
      name="twitter:image:src"
      content="{{ .Post.Frontmatter.Thumbnail }}"
    />
    <meta name="twitter:creator" content="{{ .Config.TwitterUsername }}" />
    <meta name="twitter:title" content="{{ .Post.Frontmatter.Title }}" />
    <meta
      name="twitter:description"
      content="{{ .Post.Frontmatter.Description }}"
    />
  </head>
  <body class="dark">
    {{ template "header" }}
    <main class="content">
      <div class="container">
        <section class="post-item-wrapper">
          <section class="post-wrapper">
            <h1 class="post-title">{{ .Post.Frontmatter.Title }}</h1>
            <section class="post-body">{{ .Post.HTML }}</section>
          </section>
        </section>
      </div>
    </main>
    {{ template "body" .Config }}
  </body>
</html>
{{ end }}
